.navbar {
    background-color: rgb(15, 151, 56);
    position: fixed;
    top: 0%;
    left: 0%;
    /* height: 45px; */
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;

}

.bar {
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 14px;
    text-align: center;
    margin-top: 10px;
}

.img1 {

    width: 200px;
    height: 200px;

    margin-top: 150px;
    border-radius: 50%;


}

.div1 {
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20230408/pngtree-rainbow-curves-abstract-colorful-background-image_2164067.jpg);
    background-size: cover;
    width: 1351px;
    text-align: center;
    height: 700px;
    margin-left: -10px;
    margin-top: -10px;

}

.h1 {
    color: rgb(44, 11, 233);
    line-height: 0%;
    font-size: 50px;
    font-weight: bolder;

}



.h2 {
    color: rgb(40, 26, 233);
    font-weight: bold;
    font-size: large;

}

.div2 {
    flex-direction: row;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 300px;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
}

.div3 {
    flex: 1;
    padding-left: 16px;

}

.div4 {
    flex: 1;
    display: inline-block;
    padding-left: 24px;
}



.p1 {
    font-weight: 100;
}

.educationhading {
    text-align: center;
}

.divofeducation {
    display: flex;
    flex-direction: row;
    margin: 30px 100px 30px 100px;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);

}

.schoolfirst {
    /* flex: 1; */
    background-color: rgb(15, 151, 56);
    padding-left: 60px;
    padding-right: 60px;
    font-size: larger;
    padding-top: 40px;
    color: white;
    font-size: 30px;
    line-height: 10px;
    text-align: center;

}

.firstschoolexplian {
    flex: 1;
    padding-left: 30px;
    padding-right: 15px;
    line-height: 20px;

}

.aliedschool {
    font-size: 30px;
    line-height: 0%;
}

.aliedschool1 {
    font-size: 23px;
    color: rgb(131, 125, 125);
}

.contact {
    margin: 100px 250px 100px 250px;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
    padding-top: 20px;
    padding-left: 30px;
    flex-direction: row;
    line-height: 20px;
}

.name {

    padding-right: 290px;
    font-size: 25px;
    font-weight: 600;
}

.text {
    font-size: larger;
    width: 350px;
    height: 30px;
    padding-left: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.s1 {

    padding-right: 30px;
}

.username {
    font-size: 25px;
    font-weight: 600;

}

.Email {
    font-size: 25px;
    font-weight: 600;
}

.email {
    font-size: larger;
    width: 760px;
    height: 30px;
    margin-top: 20px;
    padding-left: 15px;
    margin-bottom: 20px;

}

.Bio {
    font-size: larger;
    width: 760px;
    height: 200px;
    padding-left: 15px;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.password {
    width: 350px;
    height: 30px;

}

.CurrentPassword {
    font-weight: bolder;
}

.button {
    background-color: rgb(0, 123, 255);
    width: 150px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;

}

.s2 {
    text-align: end;
    margin-right: 20px;
}

.span1 {
    padding-left: 290px;
    font-size: 25px;
    font-weight: 600;

}

.ckekbox1 {
    margin-left: 50px;
}
